@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&family=Nunito+Sans:wght@800&family=Roboto+Slab:wght@300;500;600;800&display=swap');

$background-color: #F4FBFB;
$alumni: 'Alumni Sans', sans-serif;
$roboto: 'Roboto Slab', serif;
$nunito: 'Nunito Sans', sans-serif;

@mixin text_mobile {
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  font-family: $roboto;
}

@mixin text_desktop {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: $roboto;
}

@mixin text_header_mobile {
  font-family: $alumni;
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  text-align: center;
}

@mixin text_header_desktop {
  font-family: $alumni;
  font-weight: 100;
  font-size: 196px;
  line-height: 140px;
  text-align: center;
}

@mixin text_muted_mobile {
  font-family: $roboto;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

@mixin text_muted_desktop {
  font-family: $roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  font-family: $nunito;
  font-size: 10px;
  height: 60px;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

main {
  margin: 0 auto;
  max-width: 390px;
}

.text_muted {
  @include text_muted_mobile;
}

h1 {
  @include text_header_mobile;
}

p, span {
  @include text_mobile;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
}

.welcome {
  background: url("/img/mobile/background/Number.svg"), url("/img/mobile/background/Vector 7.svg"), url("/img/mobile/background/Group 24.svg"), url("/img/mobile/background/Group 55.svg"), url("/img/mobile/background/star.svg"), url("/img/mobile/background/Vector 49.svg");
  background-position: 94% 20px, 91% 138px, 10% -2%, 5% 35%, 90% 45%, 100% 90%;
  background-repeat: no-repeat;
  background-size: 14%, auto, auto, 14%, auto, auto;
  padding: 75px 20px;
  position: relative;

  &__text {
    margin: 10px auto 100px;
    text-align: center;
    width: max(220px, 30%);
  }

  &__bot {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;

    img {
      width: 200px;
    }
  }
}

.preview {
  & > div {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    background: url("/img/mobile/background/Group 25.svg"), url("/img/mobile/background/Group 58.svg");
    background-position: left top, right top;
    background-repeat: no-repeat;
    padding: 170px 0 0;

    p {
      margin: 50px auto 0;
      text-align: center;
      width: max(52%, 260px);
    }

    img {
      display: block;
      margin: 0 auto;
      width: 150px;
    }
  }

  &__laptop {
    background: url("/img/mobile/background/Group 29.svg") no-repeat left 10%;
    padding-top: 50px;

    img {
      display: block;
      margin: 0 auto;
      width: 310px;
    }

    p {
      margin: 50px auto 0;
      text-align: center;
      width: max(60%, 300px);
    }
  }
}

.comparison {
  background: url("/img/mobile/background/Group 61-2.svg") no-repeat right 4%, url("/img/mobile/background/Group 62.svg") no-repeat -7% 13%;
  padding-top: 100px;

  & > div {
    align-items: center;
    background: url("/img/mobile/background/Group 31.svg") no-repeat center 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 200px;
  }

  h1 {
    font-size: 64px;
    line-height: 55px;
    margin: 20px 0 56px;
    text-align: left;
    width: min-content;
  }

  span {
    margin-bottom: 26.5px;
  }
}

.faq {
  display: flex;
  margin: 15px auto;

  img {
    margin-right: 10px;
  }

  p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }

  p:last-child {
    font-size: 10px;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
  }
}

.accordion-header {
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;

  img {
    width: 20px;
  }
}

.accordion-item {
  background: #ffffff;
  border-left: rgb(0, 0, 0) 1px solid;
  border-right: rgb(0, 0, 0) 1px solid;
  border-top: rgb(0, 0, 0) 1px solid;

  &:last-of-type {
    border-bottom: rgb(0, 0, 0) 1px solid;
  }

  .accordion-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px;

    img {
      float: right;
      height: 8px;
      transition: all 0.2s ease;
    }

    p {
      font-weight: 500;
    }
  }

  .accordion-content {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;

    ol, ul {
      margin: 0;
      padding-left: 20px;

      li {
        @include text_mobile;
        text-align: left;
      }
    }


    div:last-child {
      background: rgba(255, 194, 210, 0.5);
      border-left: grey solid 1px;
    }

    div:first-child {
      background: rgba(210, 255, 216, 0.51);
      border-right: grey solid 1px;
    }

    p {
      text-align: left;
    }

    div {
      padding: 7px;
      width: 50%;
      word-break: break-word;
    }
  }
}

.fon {
  position: absolute;
  user-select: none;
  z-index: -1000;

  &.fon1 {
    left: 40%;
    top: 60%;
    transform: translateX(-50%);
    width: 500px;
  }
}

@media only screen and (min-width: 1440px) {
  h1 {
    @include text_header_desktop;
  }

  p, span {
    @include text_desktop;
  }

  .text_muted {
    @include text_muted_desktop;
  }

  main {
    max-width: 1920px;
    padding: 0;
  }

  .welcome {
    background: url("/img/mobile/background/Number.svg"), url("/img/desktop/background/Group 56.svg"), url("/img/desktop/background/Group 57.svg");
    background-position: 94% 284px, 0 -30px, right 85%;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 85px 20px;

    div:first-child {
      background: url("/img/desktop/background/Vector 7.svg"), url("/img/desktop/background/Vector 49(1).svg");
      background-position: 75.5% 127px, 44% 373px;
      background-repeat: no-repeat;
      margin: 0 auto;
      padding-bottom: 110px;
      width: 1440px;
    }

    &__bot {
      max-width: 350px;

      img {
        width: 300px;
      }
    }
  }

  .preview {
    & > div {
      flex-direction: row;
      margin: 0 auto;
      width: 1440px;
    }

    &__phone {
      background: url("/img/desktop/background/Group 59.svg") no-repeat left top;
      flex: 1;
      padding: 0 0 200px;

      p {
        margin: 50px 0 0 95px;
      }

      img {
        margin: 180px 0 90px 185px;
        width: 210px;
      }
    }

    &__laptop {
      background: url("/img/desktop/background/Group 60.svg") no-repeat 100% 100%;
      display: flex;
      flex: 1;
      flex-direction: column-reverse;
      justify-content: start;

      img {
        margin: 0 40px;
        padding-top: 165px;
        width: 560px;
      }

      p {
        margin: 0 0 0 100px;
        padding-top: 140px;
      }
    }
  }

  .comparison {
    background: url("/img/desktop/background/Group 61(5).svg") no-repeat left bottom, url("/img/desktop/background/Group 61-3.svg") no-repeat right bottom;
    margin-bottom: 10px;
    padding-top: 100px;

    & > div {
      background: url("/img/desktop/background/Group 61(2).svg") no-repeat center top;
      margin: 0 auto;
      max-width: 1440px;
      padding-bottom: 336px;
      position: relative;
    }

    h1 {
      font-size: 150px;
      line-height: 105px;
      margin: 140px 0 0 55px;
    }

    span {
      font-size: 16px;
      position: absolute;
    }

    span:nth-of-type(1) {
      left: 144px;
      top: 103px;
    }

    span:nth-of-type(2) {
      left: 1233px;
      top: 290px;
    }

    span:nth-of-type(3) {
      left: 116px;
      top: 307px;
    }

    span:nth-of-type(4) {
      left: 755px;
      top: -49px;
    }

    span:nth-of-type(5) {
      left: 256px;
      top: 552px;
    }

    span:nth-of-type(6) {
      left: 1195px;
      top: 552px;
    }

    span:nth-of-type(7) {
      left: 1064px;
      top: 6px;
    }

    span:nth-of-type(8) {
      left: 394px;
      top: 704px;
    }

    span:nth-of-type(9) {
      left: 392px;
      top: 67px;
    }

    span:nth-of-type(10) {
      left: 802px;
      top: 695px;
    }
  }
}
