@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;300;400;500;700;800&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

$background-color: #F4FBFB;
$alumni: 'Alumni Sans', sans-serif;
$roboto: 'Roboto Slab', serif;
$nunito: 'Nunito Sans', sans-serif;

@mixin text_mobile {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  font-family: $roboto;
  margin: 0 auto;
}

@mixin text_header_mobile {
  font-family: $alumni;
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  text-align: center;
}

@mixin text_muted {
  font-family: $roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
}


.d-flex {
  display: flex;
}

.align-end {
  align-items: end;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
}

.h2 {
  align-items: center;
  background-image: url("/img/mobile/background/Group-blc.svg");
  display: flex;
  height: 94px;
  margin: 0 auto;
  padding: 10px;
  width: 325px;

  h2 {
    @include text_mobile;
  }
}

.accordion-header {
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;

  img {
    width: 20px;
  }
}

.faq {
  display: flex;
  margin: 15px auto;

  img {
    margin-right: 10px;
  }

  p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }

  p:last-child {
    font-size: 10px;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
  }
}

.accordion-item {
  background: #ffffff;
  border-left: rgb(0, 0, 0) 1px solid;
  border-right: rgb(0, 0, 0) 1px solid;
  border-top: rgb(0, 0, 0) 1px solid;

  &:last-of-type {
    border-bottom: rgb(0, 0, 0) 1px solid;
  }

  .accordion-title {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px;

    img {
      float: right;
      height: 8px;
      transition: all 0.2s ease;
    }

    p {
      font-weight: 500;
    }
  }

  .accordion-content {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;

    ol, ul {
      margin: 0;
      padding-left: 20px;

      li {
        @include text_mobile;
        text-align: left;
      }
    }


    div:last-child {
      background: rgba(255, 194, 210, 0.5);
      border-left: grey solid 1px;
    }

    div:first-child {
      background: rgba(210, 255, 216, 0.51);
      border-right: grey solid 1px;
    }

    p {
      text-align: left;
    }

    div {
      padding: 7px;
      width: 50%;
      word-break: break-word;
    }
  }
}

header {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  font-family: $nunito;
  font-size: 10px;
  height: 60px;
  justify-content: center;
  margin: 0 20px;
}

main {
  margin: 0 auto;
  max-width: 390px;
  padding: 74px 20px 0;
}

section {
  position: relative;
}

h1 {
  @include text_header_mobile;
}

.header {
  @include text_header_mobile;
}

p {
  @include text_mobile;
}

section:first-of-type {
  margin: 0 50px;
  text-align: center;

  div {
    margin: 8px;

    h1 {
      margin-top: 0;
    }

    p {
      margin-bottom: 105px;
      text-align: center;
    }
  }
}

.second-screen {
  margin-top: 210px;
  text-align: center;


  p {
    margin: 50px 22px;
  }

  div:first-of-type {

    & .second-screen__mobile {
      display: block;
      margin: 0 auto;
    }
  }

  div:last-of-type {
    img {
      width: 100%;
    }
  }
}

.third-screen {
  margin: 85px auto;

  div {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    text-align: center;

    div {
      margin: 15px 0;
      position: relative;

      .header {
        font-family: $alumni;
        font-size: 64px;
        font-style: normal;
        font-weight: 100;
        line-height: 60px;
      }

      img {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }

    span {
      @include text_mobile;
      margin: 12.5px 0;
    }
  }
}


.forth-screen {
  p {
    background-image: url("/img/mobile/background/Group 34.png");
    left: 15%;
    min-width: 350px;
    padding: 60px 40px;
    position: absolute;
    text-align: center;
    top: 67%;
  }
}

.fifth-screen {
  p {
    margin: 0 0 0 20px;
    text-align: left;
  }

  div:nth-of-type(3) p, div:nth-of-type(4) p, div:nth-of-type(6) p {
    margin: 0;
  }

  div {
    align-items: center;
    display: flex;
    margin-bottom: 40px;
  }

  &__right {
    flex-direction: row-reverse;

    & p {
      margin: 0 20px 0 0;
    }
  }

  .baza {
    background-image: url("/img/mobile/background/Group 40.png");
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 75px;
    margin-bottom: 110px;
    margin-top: 85px;
    padding-bottom: 30px;
  }
}

#klava {
  position: relative;
  transform: translateX(-350px);
  z-index: -1001;
}

.sixth-screen {
  margin-top: 70px;

  p {
    margin: 42px auto;
  }

  h1 {
    background: #FFFFFF;
    border: 1px solid #212B36;
    border-radius: 19px;
    box-shadow: 0 4px 0 2px #000000;
    font-size: 60px;
  }


  .compare {
    margin: 90px auto 130px;
    max-width: 375px;
    position: relative;

    & > span {
      @include text_mobile;
      border: rgba(21, 16, 16, 0.65) dotted 1px;
      border-radius: 10px;
      font-size: 11px;
      font-weight: 400;
      line-height: 13px;
      max-width: 140px;
      padding: 3px 4px;
      position: absolute;
      text-align: left;
    }

    span:nth-child(1) {
      left: -18px;
      top: -35px;
    }

    span:nth-child(2) {
      left: 130px;
      top: -51px;
    }

    span:nth-child(3) {
      left: 226px;
      min-width: 100px;
      top: 2px;
    }

    span:nth-child(4) {
      left: 225px;
      top: 339px;
    }

    span:nth-child(5) {
      left: 64px;
      top: 331px;
    }
  }
}

.seventh-screen {
  margin: 75px auto;

  & > p:first-of-type {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}

.eight-screen, .ninth-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 85px;

  video {
    margin: 0 auto 30px;
  }

  p {
    max-width: 80%;
  }

  h1 {
    background: #FFFFFF;
    border: 1px solid #212B36;
    border-radius: 19px;
    box-shadow: 0 4px 0 2px #000000;
    font-size: 54px;
    line-height: 50px;
    padding: 15px 5px;
  }
}

.ninth-screen {
  p {
    margin-bottom: 50px;
    margin-right: 0;
    text-align: left;
  }
}

.tenth-screen {
  h1 {
    background: #FFFFFF;
    border: 0.708333px solid #000000;
    box-shadow: 4px -3px 1px #000000;
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin: auto;
    max-width: 70%;
  }

  div:last-child {
    text-align: center;

    a {
      margin: 20px auto 0;
    }

    span {
      display: block;
      margin: auto;
      max-width: 220px;
    }
  }
}

.fon {
  position: absolute;
  user-select: none;
  z-index: -1000;

  &.fon1 {
    left: -17%;
    top: -18%;
  }

  &.fon2 {
    left: 102%;
    top: -11%;
  }

  &.fon3 {
    left: 208px;
    top: 63px;
  }

  &.fon4 {
    left: 113%;
    top: 44%;
  }

  &.fon5 {
    left: 59%;
    top: 109%;
  }

  &.fon6 {
    left: -19%;
    top: 23%;
  }

  &.fon7 {
    left: -95px;
    top: 103%;
  }

  &.fon8 {
    left: 40%;
    top: 68%;
    transform: translateX(-50%);
    width: 500px;
  }

  &.fon9 {
    left: 91%;
    top: 1%;
  }

  &.fon10 {
    left: 84%;
    top: 15%;
  }

  &.fon11 {
    left: 67%;
    top: 30%;
  }

  &.fon12 {
    left: -10%;
    top: 53%;
  }

  &.fon13 {
    left: 53%;
    top: -12%;
  }

  &.fon14 {
    left: 70%;
    top: 60.5%;
  }

  &.fon15 {
    left: 86%;
    top: 105.5%;
  }

  &.fon16 {
    left: -14%;
    top: -8.5%;
  }

  &.fon17 {
    left: 11%;
    top: -4.5%;
  }

  &.fon18 {
    left: 92%;
    top: 30.5%;
  }

  &.fon19 {
    left: 8%;
    top: 111.5%;
  }

  &.fon20 {
    left: 2%;
    top: 23.5%;
  }

  &.fon21 {
    left: -6%;
    top: -4%;
  }

  &.fon22 {
    left: 50%;
    top: 13.5%;
    transform: translateX(-50%);
  }

  &.fon23 {
    left: -8%;
    top: 33%;
  }

  &.fon24 {
    left: 31%;
    top: 48%;
  }

  &.fon25 {
    left: -6%;
    top: 62%;
  }

  &.fon26 {
    left: 32%;
    top: 71%;
  }

  &.fon27 {
    left: -6%;
    top: 89%;
  }

  &.fon28 {
    left: 57%;
    top: 101%;
  }

  &.fon29 {
    left: 18%;
    top: -32px;
    width: 230px;
  }

  &.fon30 {
    left: 95%;
    top: 60px;
  }

  &.fon31 {
    left: -7%;
    top: 244px;
  }

  &.fon32 {
    left: -9%;
    top: 454px;
  }

  &.fon33 {
    left: 0;
    top: 682px;
  }

  &.fon34 {
    left: 81%;
    top: 732px;
  }

  &.fon35 {
    left: -5%;
    top: 225px;
  }

  &.fon36 {
    left: -6%;
    top: 415px;
    width: 60px;
  }

  &.fon37 {
    left: -1%;
    top: 505px;
    width: 45px;
  }

  &.fon38 {
    left: -6%;
    top: 640px;
  }

  &.fon39 {
    left: 50%;
    top: 640px;
  }

  &.fon40 {
    left: 97%;
    top: 655px;
  }
}

.text_muted {
  @include text_muted;
}
