@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;300;400;500;700;800&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

$background-color: #F4FBFB;
$alumni: 'Alumni Sans', sans-serif;
$roboto: 'Roboto Slab', serif;
$nunito: 'Nunito Sans', sans-serif;

@mixin text_mobile {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  font-family: $roboto;
}

@mixin text_header_mobile {
  font-family: $alumni;
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  text-align: center;
}

@mixin text_muted {
  font-family: $roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
}

header {
  margin: 0 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $nunito;
  font-size: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

main {
  padding: 74px 20px 0;
  max-width: 390px;
  margin: 0 auto;
}

section {
  position: relative;
}

h1 {
  @include text_header_mobile;
}

.header {
  @include text_header_mobile;
}

p {
  @include text_mobile;
}

section:first-of-type {
  text-align: center;
  margin: 0 50px;

  div {
    margin: 8px;

    h1 {
      margin-top: 0;
    }

    p {
      text-align: center;
      margin-bottom: 105px;
    }
  }
}

.second-screen {
  margin-top: 210px;
  text-align: center;


  p {
    margin: 50px 22px;
  }

  div:first-of-type {

    & .second-screen__mobile {
      display: block;
      margin: 0 auto;
    }
  }

  div:last-of-type {
    img {
      width: 100%;
    }
  }
}

.third-screen {
  margin: 85px auto;

  div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 30px;

    div {
      position: relative;
      margin: 15px 0;

      .header {
        font-family: $alumni;
        font-style: normal;
        font-weight: 100;
        font-size: 64px;
        line-height: 60px;
      }

      img {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    span {
      @include text_mobile;
      margin: 12.5px 0;
    }
  }
}


.forth-screen {
  p {
    position: absolute;
    top: 67%;
    left: 15%;
    min-width: 350px;
    text-align: center;
    padding: 60px 40px;
    background-image: url("/img/mobile/background/Group 34.png");
  }
}

.fifth-screen {
  p {
    margin: 0 0 0 20px;
    text-align: left;
  }

  div:nth-of-type(3) p, div:nth-of-type(4) p, div:nth-of-type(6) p {
    margin: 0;
  }

  div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__right {
    flex-direction: row-reverse;

    & p {
      margin: 0 20px 0 0;
    }
  }

  .baza {
    font-size: 75px;
    margin-top: 85px;
    margin-bottom: 110px;
    padding-bottom: 30px;
    background-image: url("/img/mobile/background/Group 40.png");
    background-repeat: no-repeat;
  }
}

#klava {
  transform: translateX(-350px);
}

.sixth-screen {
  margin-top: 70px;

  p {
    margin: 0;
  }

  img {
    margin-left: -20px;
    margin-top: -30px;
  }

  h1 {
    font-size: 64px;
    background: #FFFFFF;
    border: 1px solid #212B36;
    box-shadow: 0 4px 0 2px #000000;
    border-radius: 19px;
  }
}

.fon {
  position: absolute;
  user-select: none;
  z-index: -1000;

  &.fon1 {
    top: -18%;
    left: -17%;
  }

  &.fon2 {
    top: -11%;
    left: 102%;
  }

  &.fon3 {
    top: 11.8%;
    left: 88%;
  }

  &.fon4 {
    top: 44%;
    left: 113%;
  }

  &.fon5 {
    top: 109%;
    left: 59%;
  }

  &.fon6 {
    top: 23%;
    left: -19%;
  }

  &.fon7 {
    top: 103%;
    left: -95px;
  }

  &.fon8 {
    top: 65%;
    left: -68%;
    width: 500px;
  }

  &.fon9 {
    top: 1%;
    left: 91%;
  }

  &.fon10 {
    top: 15%;
    left: 84%;
  }

  &.fon11 {
    top: 30%;
    left: 67%;
  }

  &.fon12 {
    top: 10%;
    left: -10%;
  }

  &.fon13 {
    top: -12%;
    left: 53%;
  }

  &.fon14 {
    top: 60.5%;
    left: 70%;
  }

  &.fon15 {
    top: 105.5%;
    left: 86%;
  }

  &.fon16 {
    top: -8.5%;
    left: -10%;
  }

  &.fon17 {
    top: -4.5%;
    left: 11%;
  }

  &.fon18 {
    top: 30.5%;
    left: 92%;
  }

  &.fon19 {
    top: 111.5%;
    left: 8%;
  }

  &.fon20 {
    top: 23.5%;
    left: 2%;
  }

  &.fon21 {
    top: -4%;
    left: -6%;
  }

  &.fon22 {
    top: 13.5%;
    left: 50%;
    transform: translateX(-50%);
  }

  &.fon23 {
    top: 33%;
    left: -8%;
  }

  &.fon24 {
    top: 48%;
    left: 31%;
  }

  &.fon25 {
    top: 62%;
    left: -6%;
  }

  &.fon26 {
    top: 71%;
    left: 32%;
  }

  &.fon27 {
    top: 89%;
    left: -6%;
  }

  &.fon28 {
    top: 101%;
    left: 57%;
  }
}

.text_muted {
  @include text_muted;
}
