@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;300;400;500;700;800&family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.align-end {
  align-items: end;
}

body {
  background-color: #F4FBFB;
  overflow-x: hidden;
}

.h2 {
  align-items: center;
  background-image: url("/img/mobile/background/Group-blc.svg");
  display: flex;
  height: 94px;
  margin: 0 auto;
  padding: 10px;
  width: 325px;
}
.h2 h2 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 0 auto;
}

.accordion-header {
  background: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.accordion-header img {
  width: 20px;
}

.accordion-item {
  background: #ffffff;
  border-left: rgb(0, 0, 0) 1px solid;
  border-right: rgb(0, 0, 0) 1px solid;
  border-top: rgb(0, 0, 0) 1px solid;
}
.accordion-item:last-of-type {
  border-bottom: rgb(0, 0, 0) 1px solid;
}
.accordion-item .accordion-title {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 10px;
}
.accordion-item .accordion-title img {
  float: right;
  height: 8px;
  transition: all 0.2s ease;
}
.accordion-item .accordion-title p {
  font-weight: 500;
}
.accordion-item .accordion-content {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}
.accordion-item .accordion-content ol, .accordion-item .accordion-content ul {
  margin: 0;
  padding-left: 20px;
}
.accordion-item .accordion-content ol li, .accordion-item .accordion-content ul li {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 0 auto;
  text-align: left;
}
.accordion-item .accordion-content div:last-child {
  background: rgba(255, 194, 210, 0.5);
  border-left: grey solid 1px;
}
.accordion-item .accordion-content div:first-child {
  background: rgba(210, 255, 216, 0.51);
  border-right: grey solid 1px;
}
.accordion-item .accordion-content p {
  text-align: left;
}
.accordion-item .accordion-content div {
  padding: 7px;
  width: 50%;
  word-break: break-word;
}

header {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
  height: 60px;
  justify-content: center;
  margin: 0 20px;
}

main {
  margin: 0 auto;
  max-width: 390px;
  padding: 74px 20px 0;
}

section {
  position: relative;
}

h1 {
  font-family: "Alumni Sans", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  text-align: center;
}

.header {
  font-family: "Alumni Sans", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
  line-height: 72px;
  text-align: center;
}

p {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 0 auto;
}

section:first-of-type {
  margin: 0 50px;
  text-align: center;
}
section:first-of-type div {
  margin: 8px;
}
section:first-of-type div h1 {
  margin-top: 0;
}
section:first-of-type div p {
  margin-bottom: 105px;
  text-align: center;
}

.second-screen {
  margin-top: 210px;
  text-align: center;
}
.second-screen p {
  margin: 50px 22px;
}
.second-screen div:first-of-type .second-screen__mobile {
  display: block;
  margin: 0 auto;
}
.second-screen div:last-of-type img {
  width: 100%;
}

.third-screen {
  margin: 85px auto;
}
.third-screen div {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  text-align: center;
}
.third-screen div div {
  margin: 15px 0;
  position: relative;
}
.third-screen div div .header {
  font-family: "Alumni Sans", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 100;
  line-height: 60px;
}
.third-screen div div img {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.third-screen div span {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 0 auto;
  margin: 12.5px 0;
}

.forth-screen p {
  background-image: url("/img/mobile/background/Group 34.png");
  left: 15%;
  min-width: 350px;
  padding: 60px 40px;
  position: absolute;
  text-align: center;
  top: 67%;
}

.fifth-screen p {
  margin: 0 0 0 20px;
  text-align: left;
}
.fifth-screen div:nth-of-type(3) p, .fifth-screen div:nth-of-type(4) p, .fifth-screen div:nth-of-type(6) p {
  margin: 0;
}
.fifth-screen div {
  align-items: center;
  display: flex;
  margin-bottom: 40px;
}
.fifth-screen__right {
  flex-direction: row-reverse;
}
.fifth-screen__right p {
  margin: 0 20px 0 0;
}
.fifth-screen .baza {
  background-image: url("/img/mobile/background/Group 40.png");
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 75px;
  margin-bottom: 110px;
  margin-top: 85px;
  padding-bottom: 30px;
}

#klava {
  position: relative;
  transform: translateX(-350px);
  z-index: -1001;
}

.sixth-screen {
  margin-top: 70px;
}
.sixth-screen p {
  margin: 42px auto;
}
.sixth-screen h1 {
  background: #FFFFFF;
  border: 1px solid #212B36;
  border-radius: 19px;
  box-shadow: 0 4px 0 2px #000000;
  font-size: 60px;
}
.sixth-screen .compare {
  margin: 90px auto 130px;
  max-width: 375px;
  position: relative;
}
.sixth-screen .compare > span {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 0 auto;
  border: rgba(21, 16, 16, 0.65) dotted 1px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  max-width: 140px;
  padding: 3px 4px;
  position: absolute;
  text-align: left;
}
.sixth-screen .compare span:nth-child(1) {
  left: -18px;
  top: -35px;
}
.sixth-screen .compare span:nth-child(2) {
  left: 130px;
  top: -51px;
}
.sixth-screen .compare span:nth-child(3) {
  left: 226px;
  min-width: 100px;
  top: 2px;
}
.sixth-screen .compare span:nth-child(4) {
  left: 225px;
  top: 339px;
}
.sixth-screen .compare span:nth-child(5) {
  left: 64px;
  top: 331px;
}

.seventh-screen {
  margin: 75px auto;
}
.seventh-screen > p:first-of-type {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 50px;
}

.eight-screen, .ninth-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 85px;
}
.eight-screen video, .ninth-screen video {
  margin: 0 auto 30px;
}
.eight-screen p, .ninth-screen p {
  max-width: 75%;
}
.eight-screen h1, .ninth-screen h1 {
  background: #FFFFFF;
  border: 1px solid #212B36;
  border-radius: 19px;
  box-shadow: 0 4px 0 2px #000000;
  font-size: 54px;
  line-height: 50px;
  padding: 15px 5px;
}

.ninth-screen p {
  margin-bottom: 40px;
  margin-right: 0;
  text-align: left;
}

.tenth-screen h1 {
  background: #FFFFFF;
  border: 0.708333px solid #000000;
  box-shadow: 4px -3px 1px #000000;
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  margin: auto;
  max-width: 70%;
}

.fon {
  position: absolute;
  user-select: none;
  z-index: -1000;
}
.fon.fon1 {
  left: -17%;
  top: -18%;
}
.fon.fon2 {
  left: 102%;
  top: -11%;
}
.fon.fon3 {
  left: 208px;
  top: 63px;
}
.fon.fon4 {
  left: 113%;
  top: 44%;
}
.fon.fon5 {
  left: 59%;
  top: 109%;
}
.fon.fon6 {
  left: -19%;
  top: 23%;
}
.fon.fon7 {
  left: -95px;
  top: 103%;
}
.fon.fon8 {
  left: 40%;
  top: 68%;
  transform: translateX(-50%);
  width: 500px;
}
.fon.fon9 {
  left: 91%;
  top: 1%;
}
.fon.fon10 {
  left: 84%;
  top: 15%;
}
.fon.fon11 {
  left: 67%;
  top: 30%;
}
.fon.fon12 {
  left: -10%;
  top: 53%;
}
.fon.fon13 {
  left: 53%;
  top: -12%;
}
.fon.fon14 {
  left: 70%;
  top: 60.5%;
}
.fon.fon15 {
  left: 86%;
  top: 105.5%;
}
.fon.fon16 {
  left: -14%;
  top: -8.5%;
}
.fon.fon17 {
  left: 11%;
  top: -4.5%;
}
.fon.fon18 {
  left: 92%;
  top: 30.5%;
}
.fon.fon19 {
  left: 8%;
  top: 111.5%;
}
.fon.fon20 {
  left: 2%;
  top: 23.5%;
}
.fon.fon21 {
  left: -6%;
  top: -4%;
}
.fon.fon22 {
  left: 50%;
  top: 13.5%;
  transform: translateX(-50%);
}
.fon.fon23 {
  left: -8%;
  top: 33%;
}
.fon.fon24 {
  left: 31%;
  top: 48%;
}
.fon.fon25 {
  left: -6%;
  top: 62%;
}
.fon.fon26 {
  left: 32%;
  top: 71%;
}
.fon.fon27 {
  left: -6%;
  top: 89%;
}
.fon.fon28 {
  left: 57%;
  top: 101%;
}
.fon.fon29 {
  left: 18%;
  top: -32px;
  width: 230px;
}
.fon.fon30 {
  left: 95%;
  top: 60px;
}
.fon.fon31 {
  left: -7%;
  top: 244px;
}
.fon.fon32 {
  left: -9%;
  top: 454px;
}
.fon.fon33 {
  left: 0;
  top: 682px;
}
.fon.fon34 {
  left: 81%;
  top: 732px;
}
.fon.fon35 {
  left: -1%;
  top: 215px;
}
.fon.fon36 {
  left: -1%;
  top: 335px;
}
.fon.fon37 {
  left: -1%;
  top: 450px;
}
.fon.fon38 {
  left: -6%;
  top: 587px;
}
.fon.fon39 {
  left: 50%;
  top: 587px;
}
.fon.fon40 {
  left: 97%;
  top: 615px;
}

.text_muted {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: rgba(0, 0, 0, 0.4);
}

/*# sourceMappingURL=main.css.map */
